<div class="container">
  <div class="row">
    <div class="col-2"></div>

    <!--plan ana kısım-->
    <div
      *ngIf="main"
      style="background-color: white; border-radius: 10px"
      class="col-8"
    >
      <h3 style="color: darkblue">Plan Listeniz</h3>
      <button (click)="planEkle()" type="button" class="btn btn-secondary">
        Plan Ekle
      </button>

      <div class="row g-0">
        <div class="col-2">
          <h5><b>Saat</b></h5>
        </div>
        <div class="col-8">
          <h5><b>Plan</b></h5>
        </div>
        <div class="col-2">
          <h5><b>Yapıldı mı ? </b></h5>
        </div>

        <div *ngFor="let veriler of planListesi" class="row g-0">
          <!-- satır bir----------------------------------------------------------------------->
          <div
            [ngStyle]="{
              backgroundColor: veriler.makeit == 1 ? 'green' : 'red'
            }"
            style="
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            "
            class="col-2"
          >
            <p>{{ veriler.plantime }}</p>
          </div>
          <div
            [ngStyle]="{
              backgroundColor: veriler.makeit == 1 ? 'green' : 'red'
            }"
            class="col-8"
          >
            <p>{{ veriler.plandescription }}</p>
          </div>
          <div
            [ngStyle]="{
              backgroundColor: veriler.makeit == 1 ? 'green' : 'red'
            }"
            style="
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            "
            class="col-2"
          >
            <button
              (click)="yes(veriler._id)"
              type="button"
              class="btn btn-primary"
            >
              YES
            </button>
            <button
              (click)="no(veriler._id)"
              type="button"
              class="btn btn-danger"
            >
              NO
            </button>
          </div>
          <!-- satır ıkı------------------------------------------------------------------------>
        </div>
      </div>
    </div>

    <!--plan alma kısmı-->
    <div *ngIf="yan" class="col-8">
      <h3 style="color: darkblue">Plan Ekleyin</h3>
      <form [formGroup]="plankaydi" (ngSubmit)="plansave()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Plan Saati</label>
          <input
            type="time"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="plantime"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Plan Tanımı</label
          >
          <input
            formControlName="plandescription"
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Planı Kaydet</button>
      </form>
      <button (click)="geriDon()" type="button" class="btn btn-secondary">
        Geri Dön
      </button>
    </div>
    <div class="col-2"></div>
  </div>
</div>
