<div
  *ngIf="wea_shema !== undefined"
  class="container"
  style="
    background-color: rgb(187, 222, 251);
    margin-bottom: 70px;
    border-radius: 20px;
  "
>
  <div class="row">
    <div class="col-2">
      <h6>
        <b><i>Konum</i></b>
        : {{ wea_shema.name }}
      </h6>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-2">
          <h6>
            <b><i>Derece :</i></b> {{ wea_shema.main.temp }}
          </h6>
        </div>
        <div class="col-4">
          <h6>
            <b> <i>Hissedilen :</i></b> {{ wea_shema.main.feels_like }}
          </h6>
        </div>
        <div class="col-6">
          <h6>
            <b> <i>Hava Durumu :</i></b>
            {{ wea_shema.weather[0]["description"] }}
          </h6>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<div
  *ngIf="wea_shema == undefined"
  class="container"
  style="
    background-color: rgb(187, 222, 251);
    margin-bottom: 70px;
    border-radius: 20px;
  "
>
  <div>Havadurumu gösterilemiyor</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-2"></div>

    <!--plan ana kısım-->
    <div
      *ngIf="main"
      style="background-color: white; border-radius: 10px"
      class="col-8"
    >
      <h3 style="color: darkblue">Günlük Plan Listeniz</h3>

      <div class="d-flex justify-content-end">
        <div class="col-example">
          <button
            (click)="makeit()"
            type="button"
            class="btn btn-outline-primary"
          >
            Yapılanlar
          </button>
        </div>
        <div style="margin-left: 5px" class="col-example">
          <button
            (click)="notmakeit()"
            type="button"
            class="btn btn-outline-danger"
          >
            Yapılmayanlar
          </button>
        </div>
      </div>

      <div>
        <button (click)="planEkle()" type="button" class="btn btn-secondary">
          Plan Ekle
        </button>
        <button
          style="margin-left: 5px"
          (click)="ClearTablo()"
          type="button"
          class="btn btn-dark"
        >
          Tabloyu Temizle
        </button>
      </div>

      <div class="row g-0">
        <div class="col-2">
          <h5><b>Saat</b></h5>
        </div>
        <div class="col-2">
          <h5><b>Plan</b></h5>
        </div>
        <div class="col-2">
          <h5><b>Yapıldı mı ? </b></h5>
        </div>
        <div class="col-2">
          <h5><b>Detay</b></h5>
        </div>
        <div class="col-2">
          <h5><b>Güncelle</b></h5>
        </div>
        <div class="col-2">
          <h5><b>Plan Sil</b></h5>
        </div>

        <div *ngFor="let veriler of planListesi" class="row g-0">
          <!-- satır bir----------------------------------------------------------------------->
          <div
            [ngStyle]="{
              backgroundColor:
                veriler.makeit == 1
                  ? 'rgb(	187, 222, 251)'
                  : 'rgb(255, 204, 188)'
            }"
            style="
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            "
            class="col-2"
          >
            <p>{{ veriler.plantime }}</p>
          </div>

          <div
            [ngStyle]="{
              backgroundColor:
                veriler.makeit == 1
                  ? 'rgb(	187, 222, 251)'
                  : 'rgb(255, 204, 188)'
            }"
            class="col-2"
          >
            <p>{{ veriler.plandescription }}</p>
          </div>

          <div
            [ngStyle]="{
              backgroundColor:
                veriler.makeit == 1
                  ? 'rgb(	187, 222, 251)'
                  : 'rgb(255, 204, 188)'
            }"
            class="col-2"
          >
            <button
              (click)="yes(veriler._id)"
              type="button"
              class="btn btn-primary"
            >
              YES
            </button>
            <button
              (click)="no(veriler._id)"
              type="button"
              class="btn btn-danger"
            >
              NO
            </button>
          </div>

          <div
            [ngStyle]="{
              backgroundColor:
                veriler.makeit == 1
                  ? 'rgb(	187, 222, 251)'
                  : 'rgb(255, 204, 188)'
            }"
            class="col-2"
          >
            <button
              (click)="ayrinti(veriler._id)"
              type="button"
              class="btn btn-primary"
            >
              Detay
            </button>
          </div>

          <div
            [ngStyle]="{
              backgroundColor:
                veriler.makeit == 1
                  ? 'rgb(	187, 222, 251)'
                  : 'rgb(255, 204, 188)'
            }"
            class="col-2"
          >
            <button
              (click)="gunveriget(veriler)"
              type="button"
              class="btn btn-secondary"
            >
              Güncelle
            </button>
          </div>

          <div
            [ngStyle]="{
              backgroundColor:
                veriler.makeit == 1
                  ? 'rgb(	187, 222, 251)'
                  : 'rgb(255, 204, 188)'
            }"
            style="
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            "
            class="col-2"
          >
            <button
              (click)="planSil(veriler._id)"
              type="button"
              class="btn btn-light"
            >
              Sil
            </button>
          </div>

          <!-- satır ıkı------------------------------------------------------------------------>
        </div>
      </div>
    </div>

    <!--plan alma kısmı-->
    <div *ngIf="yan" class="col-8">
      <h3 style="color: darkblue">Plan Ekleyin</h3>
      <form [formGroup]="plankaydi" (ngSubmit)="plansave()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Plan Saati</label>
          <input
            type="time"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="plantime"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Plan Tanımı</label
          >
          <input
            formControlName="plandescription"
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Plan Notu</label
          >
          <input
            formControlName="plannot"
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Planı Kaydet</button>
      </form>
      <button (click)="geriDon()" type="button" class="btn btn-secondary">
        Geri Dön
      </button>
    </div>

    <!-- ayrıntı gosterılen dıv burda-->
    <div
      *ngIf="ayrintidiv"
      class="col-8"
      style="background-color: rgb(232, 234, 246); border-radius: 10px"
    >
      <h3 style="color: darkblue">Plan Detayları</h3>
      <div class="row">
        <div class="col-2"></div>
        <div *ngFor="let data of planAyrinti" class="col-8">
          <div class="mb-3">
            <label for="basic-url" class="form-label"
              ><b>Plan Saati: </b></label
            >
            <div style="padding-left: 20px" class="input-group">
              {{ data.plantime }}
            </div>
          </div>
          <hr />
          <div class="mb-3">
            <label for="basic-url" class="form-label"
              ><b>Plan Tanımı: </b></label
            >
            <div style="padding-left: 20px" class="input-group">
              {{ data.plandescription }}
            </div>
          </div>
          <hr />
          <div class="mb-3">
            <label for="basic-url" class="form-label"
              ><b>Plan Açıklama: </b></label
            >
            <div style="padding-left: 20px" class="input-group">
              {{ data.plannot }}
            </div>
          </div>
          <hr />
          <button
            (click)="ayrintikapat()"
            type="button"
            class="btn btn-secondary"
          >
            Kapat
          </button>
        </div>
        <div class="col-2"></div>
      </div>
    </div>

    <!--guncelleme dıvı burda-->
    <div *ngIf="guncelle_div" class="col-8">
      <h3 style="color: darkblue">Güncelleme Sayfası</h3>
      <form [formGroup]="newform" (ngSubmit)="update()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Plan Saati</label>
          <input
            type="time"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="newtime"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Plan Tanımı</label
          >
          <input
            formControlName="newdescription"
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Plan Notu</label
          >
          <input
            formControlName="newnot"
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Planı Kaydet</button>
      </form>
      <button (click)="geriDon()" type="button" class="btn btn-secondary">
        Geri Dön
      </button>
    </div>

    <!--yapılanlar-->
    <div
      *ngIf="deger1"
      class="col-8"
      style="background-color: white; border-radius: 10px"
    >
      <h3>Yapılan Plan Bulunamadı</h3>
      <button (click)="ayrintikapat()" type="button" class="btn btn-secondary">
        Geri Dön
      </button>
    </div>
    <div
      *ngIf="yapilanlar"
      class="col-8"
      style="background-color: white; border-radius: 10px"
    >
      <h3 style="color: darkblue">Yapılan Planlar</h3>

      <div class="row g-0">
        <div class="col-6">
          <h5><b>Saat</b></h5>
        </div>
        <div class="col-6">
          <h5><b>Plan</b></h5>
        </div>

        <div *ngFor="let veriler of yapilanlarget" class="row g-0">
          <!-- satır bir----------------------------------------------------------------------->
          <div
            style="
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
              background-color: rgb(187, 222, 251);
            "
            class="col-6"
          >
            <p>{{ veriler.plantime }}</p>
          </div>

          <div
            style="
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              background-color: rgb(187, 222, 251);
            "
            class="col-6"
          >
            <p>{{ veriler.plandescription }}</p>
          </div>
          <!-- satır ıkı------------------------------------------------------------------------>
        </div>
      </div>
      <br />
      <button (click)="ayrintikapat()" type="button" class="btn btn-secondary">
        Geri Dön
      </button>
    </div>

    <!--yapılmayan planlar-->
    <div
      *ngIf="deger"
      class="col-8"
      style="background-color: white; border-radius: 10px"
    >
      <h3>Yapılmayan Plan Bulunamadı</h3>
      <button (click)="ayrintikapat()" type="button" class="btn btn-secondary">
        Geri Dön
      </button>
    </div>
    <div
      *ngIf="yapilmayanlar"
      class="col-8"
      style="background-color: white; border-radius: 10px"
    >
      <h3 style="color: darkblue">Yapılmayan Planlar</h3>

      <div class="row g-0">
        <div class="col-6">
          <h5><b>Saat</b></h5>
        </div>
        <div class="col-6">
          <h5><b>Plan</b></h5>
        </div>

        <div *ngFor="let veriler of yapilmayanlarget" class="row g-0">
          <!-- satır bir----------------------------------------------------------------------->

          <div
            style="
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
              background-color: rgb(255, 204, 188);
            "
            class="col-6"
          >
            <p>{{ veriler.plantime }}</p>
          </div>

          <div
            style="
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              background-color: rgb(255, 204, 188);
            "
            class="col-6"
          >
            <p>{{ veriler.plandescription }}</p>
          </div>
          <!-- satır ıkı------------------------------------------------------------------------>
        </div>
      </div>
      <br />
      <button (click)="ayrintikapat()" type="button" class="btn btn-secondary">
        Geri Dön
      </button>
    </div>

    <div class="col-2"></div>
  </div>
</div>
