<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div style="background-color: white; border-radius: 10px" class="col-8">
      <h3 style="color: darkblue">Plan Listeniz</h3>

      <div class="row g-0">
        <div class="col-2">
          <h5><b>Saat</b></h5>
        </div>
        <div class="col-8">
          <h5><b>Plan</b></h5>
        </div>
        <div class="col-2">
          <h5><b>Yapıldı mı ? </b></h5>
        </div>
        <div class="row g-0">
          <!-- satır bir----------------------------------------------------------------------->
          <div
            style="
              background-color: orange;
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            "
            class="col-2"
          >
            <p>08.15</p>
          </div>
          <div style="background-color: orange" class="col-8">
            <p>Uyanma saati</p>
          </div>
          <div
            style="
              background-color: orange;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            "
            class="col-2"
          >
            <button type="button" class="btn btn-primary">Yes/No</button>
          </div>
          <!-- satır ıkı------------------------------------------------------------------------>

          <!-- satır ıkı------------------------------------------------------------------------>
          <div
            style="
              background-color: orange;
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            "
            class="col-2"
          >
            <p>08.15</p>
          </div>
          <div style="background-color: orange" class="col-8">
            <p>Uyanma saati</p>
          </div>
          <div
            style="
              background-color: orange;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            "
            class="col-2"
          >
            <button type="button" class="btn btn-primary">Yes/No</button>
          </div>
          <!-- satır son------------------------------------------------------------------------>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
